body{
    margin: 0 auto;
    padding: 5%;
    box-sizing: border-box;
    background-color: #0A1828;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.pop-up-window{
    width: 500px;
    height: 500px;
    background-color: #fFFFFF;
    align-self: center ;
    display: none;
    z-index: 999;
    padding: 2%;
    position: absolute;
    border-radius: 10px;
    border: 1px solid black;
}

.pop-up-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    gap: 5%;
}

.pop-up-content{
    height: 100%;
}

.pop-up-content h1{
    font-family: Kumar One;
    font-size: 30px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    color: #867877;
    text-transform: uppercase;
}    

.column-name{
    width: 365px;
    height: 50px;
    box-sizing: border-box;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 4px 4px 4px 0px #00000040;
    font-family: KoPub Batang;
    font-size: 11px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.11em;
    text-align: left;

}

.active{
    display: block;
}

.close-pop-up{
    width: 125px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    align-self:flex-end;
    font-family: KoPub Batang;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.11em;
    text-align: left;
    background-color: white;
    border-radius: 10px;


}

.addTaskBtn{
    width: 250px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid black;
    font-family: KoPub Batang;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.11em;
    color: #0A1828;
    align-self:flex-end;
    position: fixed;
    bottom: 10%;
}

#high{
    background-color:#D5645C;
}
#mid{
    background-color: #E6DF41;
}
#low{
    background: #6EDB65;

}

.priority{
    width: 250px;
    height: 75px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}

.priority div{
    filter: drop-shadow(10px 7px 2px #0000001b);
}

.current-priority{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #E6DF41;
    box-shadow: 4px 4px 4px 0px #00000040;

}
.current-priority-wrapper{
    display: flex;
    align-self:flex-start;
    align-items: center; 
    gap: 50px;
}

.current-priority-wrapper p{
    font-family: KoPub Batang;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
}

.choose-priotiry{
    width: 100%;
    display: flex;
    margin-top: 5%;
    gap: 5%;
}

.create-task-btn{
    align-items: flex-end;
    justify-self: flex-end;
    width: 350px;
    height: 65px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px #00000040;
    font-family: KoPub Batang;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.11em;
}


.task-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.todo-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.todo{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}

.todo-input{
    width: 320px;
    height: 65px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 6px 6px 4px 0px #00000040;
    border-radius: 10px;
    cursor: pointer;
}

.delete-todo{
    width: 25px;
    height: 25px;
    font-family: Inter;
    font-size: 96px;
    font-weight: 400;
    filter: drop-shadow(10px 7px 2px #0000001b);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.task-priority{
    width: 100%;
    height: 10px;
}

.task {
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5%;
    background-color: white;
    align-self: flex-start;
    transition: all 0.5s;
    border-radius: 10px;

}

.task-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.task-upper-content{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.task-lower-content{
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.task-name{
    font-family: Kumar One;
    font-size: 40px;
    font-weight: 400;
    line-height: 71px;
    color: #867877;
}

.todo-input{
    height: 50px;
    transition: all 0.2s;
}


.add-todo-task {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    font-family: KoPub Batang;
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.11em;
    cursor: pointer;
    background-color: white;
    box-shadow: 4px 4px 4px 0px #00000040;

}


.delete-task{
    width: 50px;
    height: 50px;
}