body{
    margin: 0 auto;
    padding: 5%;
    box-sizing: border-box;
    background-color: #0A1828;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.pop-up-window{
    width: 350px;
    height: 400px;
    background-color: #fFFFFF;
    align-self: center ;
    display: none;
    z-index: 999;
    padding: 2%;
    position: absolute;
}

.pop-up-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

.pop-up-content{
    height: 100%;
}

.active{
    display: block;
}

.close-pop-up{
    align-self:flex-end;
}

.addTaskBtn{
    width: 150px;
    height: 50px;
    align-self:flex-end;
    position: fixed;
}

#high{
    background-color:red;
}
#mid{
    background-color:orange;
}
#low{
    background-color:green;
}

.priority{
    width: 250px;
    height: 75px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}

.current-priority{
    width: 25px;
    height: 25px;
    border-radius: 50px;
}
.current-priority-wrapper{
    display: flex;
    align-self:flex-start;
    align-items: center; 
    gap: 50px;
}

.choose-priotiry{
    width: 100%;
    display: flex;
    gap: 5%;
}

.create-task-btn{
    align-items: flex-end;
    justify-self: flex-end;
}


.task-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 100% 100% 100% 100%;
}


.todo{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.task-priority{
    width: 100%;
    height: 5%;
    background-color: red;
    border-radius: 50px;
}

.task {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    min-height: 200px; 
    overflow-y: auto; 
}
.todo-input{
    height: 50px;
}

.todo-wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.add-todo-task {
    align-self: flex-end; 
}
